<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Crear Dealer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8 mt-5">
                <h1>Creación de Dealer</h1>

                <p>
                    Completa la información y darle al botón enviar para crear el dealer.
                </p>
                <div id="message_error"></div>
                <form id="create_dealer" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                    <label for="rnc" class="form-label"> RNC</label>
                    <input type="text" name="rnc" class="form-control" id="rnc" aria-describedby="rncHelp">
                    <div id="rncHelp" class="form-text">Rnc de la compania dealer</div>
                    </div>
                    <div class="mb-3">
                        <label for="dealer" class="form-label">Nombre</label>
                        <input type="text" name="name" class="form-control" id="dealer" aria-describedby="dealerHelp">
                        <div id="dealerHelp" class="form-text">Nombre del dealer</div>
                    </div>
                    <div class="mb-3">
                        <label for="direction" class="form-label">Dirección</label>
                        <input type="text" name="direction" class="form-control" id="direction" aria-describedby="directionHelp">
                        <div id="directionHelp" class="form-text">Direccion del dealer</div>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label"> Teléfono</label>
                        <input type="text" name="phone" class="form-control" id="phone" aria-describedby="directionHelp">
                        <div id="directionHelp" class="form-text">Teléfono del dealer</div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label"> Correo</label>
                        <input type="text" name="email" class="form-control" id="email" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">Correo del dealer</div>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
            <div class="col-2">
            </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <script>

            let inputFormDealer = document.getElementById("create_dealer");

            inputFormDealer.addEventListener("submit", (e) => {
                e.preventDefault();
                let form = e.target;
                const data = {
                    "rnc": form.elements.rnc.value,
                    "name": form.elements.dealer.value,
                    "direction": form.elements.direction.value,
                    "phone": form.elements.phone.value,
                    "email": form.elements.email.value,
                }

                const url = "http://127.0.0.1:8000/api/dealers/";

                const options = {
                    method: "POST",
                    body: JSON.stringify(data), // data can be `string` or {object}!
                    headers:{
                        "Content-Type": "application/json"
                    }
                }

                fetch(url, options)
                .then(response => response.json())
                .then(newDealer => {
                    console.log(newDealer);
                    window.location.href = "http://127.0.0.1:8000/portal/dealers";
                })
                .catch(error => {
                    console.log(error);
                    let inputError = document.getElementById("message_error");
                    inputError.classList.add("btn-danger");
                    inputError.innerText = `Ha ocurrido un error: <${error}>`;
                })

            });
        </script>
    </body>
</html>