<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Crear Oficial de negocios</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8 mt-5">
                <h1>Creación de Oficial de Negocios</h1>

                <p>
                    Completa la información y darle al botón enviar para crear el oficial de negocios.
                </p>
                <div id="message_error"></div>
                <form id="create_dealer" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                    <label for="code" class="form-label"> Código</label>
                    <input type="text" name="code" class="form-control" id="code" aria-describedby="codeHelp">
                    <div id="codeHelp" class="form-text">código unico del oficial</div>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" name="name" class="form-control" id="name" aria-describedby="nameHelp">
                        <div id="nameHelp" class="form-text">Nombre del dealer</div>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
            <div class="col-2">
            </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <script>

            let inputFormOfficial = document.getElementById("create_dealer");

            inputFormOfficial.addEventListener("submit", (e) => {
                e.preventDefault();
                let form = e.target;
                const data = {
                    "code": form.elements.code.value,
                    "name": form.elements.name.value,
                }

                const url = "http://127.0.0.1:8000/api/officials/";

                const options = {
                    method: "POST",
                    body: JSON.stringify(data), // data can be `string` or {object}!
                    headers:{
                        "Content-Type": "application/json"
                    }
                }

                fetch(url, options)
                .then(response => response.json())
                .then(newOfficial => {
                    console.log(newOfficial);

                    if (Array.isArray(newOfficial.code)) {
                        let inputError = document.getElementById("message_error");
                        inputError.classList.add("btn-danger");
                        inputError.innerText = `Ha ocurrido un error: <${newOfficial.code}>`;
                        return
                    } else {
                        window.location.href = "http://127.0.0.1:8000/portal/officials";
                    }
                })
                .catch(error => {
                    console.log(error);
                    let inputError = document.getElementById("message_error");
                    inputError.classList.add("btn-danger");
                    inputError.innerText = `Ha ocurrido un error: <${error}>`;
                })

            });
        </script>
    </body>
</html>