<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dar de alta a Dealers y asignarle un oficial</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        <h1>Dar de alta a Dealers y asignarle un oficial</h1>

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="row">
            <div class="col-2 ml-2">
            </div>
            <div class="col-8 mt-5">
                <h2> DEALERS CON SUS OFICIALES </h2>

                <a href="/portal_internal/high_dealer">
                    <button type="button" class="btn btn-success">
                        +
                    </button>
                </a>                
                <p>
                    (crear una nueva asociación)
                </p>

                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">DEALER</th>
                        <th scope="col">OFICIAL</th>
                        <th scope="col">ESTADO</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        <td>
                            <a href="portal_internal/high_dealers/"></a>
                        </td>
                    </tbody>
                </table>
            </div>
            <div class="col-2">
            </div>
        </div>
 
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <script>

            fetch("http://127.0.0.1:8000/api/high_dealer")
            .then(response => response.json())
            .then(dealers => {
                console.log(dealers);
                let inputTBody = document.getElementById("tbody");
                let list = "";

                dealers.forEach(data => {
                    list += `
                    <tr>
                        <th scope="row"> RNC: ${ data.dealer.rnc } Nombre: ${ data.dealer.name }</th>
                        <td> Código: ${ data.official.code } Nombre: ${ data.official.name }</td>
                        <td>${ data.status }</td>
                    </tr>
                    `
                });
                inputTBody.innerHTML = list;
            })
            .catch(error => console.log(error))

        </script>
    </body>
</html>